# Don't commit this to source control.
# Eg. Make sure ".env" in your ".gitignore" file.
# If you want to release you programs, make sure set debug=false.
# Consider using json for configuration and using vault for secrets!
debug=
port=
appName=
secretKey=
